venv/
.env
music_dataset
music_dataset_wav
music_dataset_segment
music_dataset_chromaprints
music_dataset_structure
Music
chromaprints_output
dataset
datasetreal
model.pkl
label_encoder.pkl
copied_json_files
dataset_segment
uploads
archive